# .env example - copiar a .env y ajusta segun cada entorno
WEB_HOST=odoo.17.otecglobal
WEB_IMAGE_NAME=odoo:17.0
WEB_PORT=8001
WEBSOCKET_PORT=8002

DB_IMAGE=postgres:15
DB_HOST=postgres.db
DB_PORT=5432
DB_NAME=postgres
DB_USER=admin
DB_PASSWORD=password
